<!-- guest-list.component.html -->
<div class="header-page">
    <label><h2>Lista de Material</h2></label>
</div>

<div>
    <button
            [routerLink]="['/material/create']" class="full-width-button"
            color="primary" mat-raised-button>Adicionar
    </button>
</div>


<!--<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of guests">
      <td>{{ guest.id }}</td>
      <td>{{ guest.name }}</td>
      <td>{{ guest.email }}</td>
      <td>{{ guest.confirm}}</td>
      <td>
        <button [routerLink]="['/detail',guest.id]" >View</button>
        <button (click)="deleteGuest(guest.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->

<div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell> No.</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell> Type</th>
            <td *matCellDef="let element" mat-cell> {{element.type}} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="vehiclePlate">
            <th *matHeaderCellDef mat-header-cell> Vehicle Plate</th>
            <td *matCellDef="let element" mat-cell> {{element.vehiclePlate}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef="let element" mat-cell>
                <mat-icon [routerLink]="['detail',element.id]">visibility</mat-icon>
                <mat-icon>edit</mat-icon>
                <mat-icon (click)="deleteMaterial(element.id)">delete</mat-icon>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page of periodic elements"
                   showFirstLastButtons>
    </mat-paginator>
</div>



