<div class="mat-add-content">
    <div class="mat-add-header">
        <h3>
            <mat-label>Insert Guest</mat-label>
        </h3>
    </div>
    <form (ngSubmit)="createClient()" [formGroup]="profileForm">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Ex. Carlos Alberto" value="">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Ex. carlosJose@gmail.com" value="">
        </mat-form-field>

        <br>
        <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="confirm">Status</mat-checkbox>
        </section>
        <br>
        <div class="mat-add-actions">
            <button color="primary" mat-button type="submit">Save</button>
            <button (click)="cancelOperation()" color="warn" mat-button type="cancel">Cancel</button>
        </div>
    </form>
</div>





