<!-- driver-details.component.html -->
<div *ngIf="driver">
    <h3>Detalhes do Convidado</h3>
    <p><strong>ID:</strong> {{ driver.id }}</p>
    <p><strong>Nome:</strong> {{ driver.name }}</p>
    <p><strong>Email:</strong> {{ driver.birthDate }}</p>
    <p><strong>Status:</strong> {{ driver.phoneNumber }}</p>
    <p><strong>Email:</strong> {{ driver.vehicleModel }}</p>
    <p><strong>Status:</strong> {{ driver.vehiclePlate}}</p>
    <!-- Adicione mais detalhes conforme necessário -->
    <button [routerLink]="['/driver']">Voltar</button>
</div>
